.button {
    display: block;
    color: var(--color-primary-light);
    background-color: var(--color-brand-normal);
    border: 2px solid var(--color-brand-normal);
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    padding: 16px 32px;
}

.button:hover {
    color: var(--color-brand-darlk);
    background-color: transparent;
}

/* .button:disabled {
    color: gray;
    background-color: lightgray;
    cursor: not-allowed;
    border-color: currentColor;
} */